<div style="width: 400px;margin:0 auto;">
    <form action="/user/login" method="POST">
        <div class="container">
            <label><b>用户名</b></label>
            <input type="text" placeholder="Enter Username" name="userName" required>
            <br/>
            <label><b>密码</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <br/>
            <button type="submit">登录</button>
        </div>
    </form>
    <a href="/user/register"><button>注册</button></a>
</div>
